*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem 1rem 2rem 1rem;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    font-weight: 400 bold;
    font-style: italic;
}

.paragraph{
    margin-bottom: 2.5rem;
    font-weight: 200 bold;
}

.grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Para columnas ajustables */
    grid-auto-flow: row;
    gap: 30px;
}

.card{
    background-color: #fff;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    position: relative
}

.card__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: hsla(180, 3%, 23%, 0.699);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

.card:hover .card__overlay{
    opacity: 1;
    cursor: pointer;
}

.card__img{
    height: 170px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 15px;
}

.card__img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__title{
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

span{
    font-weight: 300;
}

span > i{
    margin-right: 3px;
}

.orange{
    color: orange;
}

.blue{
    color: blue;
}

.card__buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__buttons > a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: .7rem 1rem;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: 400;
}

.card__buttons > a:hover{
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

.card__buttons > a:hover i{
    color: #000;
}

a > i{
    color: #fff;
    margin-right: 4px;
}

@media (min-width: 500px){
    body{
        padding: 3rem;
    }

    .grid{
        gap: 20px;
    }

    .card{
        width: 310px;
    }

    .card__buttons{
        flex-direction: row;
    }
}

@media (min-width:820px){
    .title{
        font-size: 3.2rem;
    }

    .paragraph{
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px){
    .card{
        width: 340px;
    }

    .card__buttons > a{
        padding: 1rem 1.5rem;
    }
}
